* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit-medium';
}

@font-face {
    font-family: 'Kanit-medium';
    src: url(fonts/Kanit-Medium.ttf);
}

@font-face {
    font-family: 'Kanit';
    src: url(fonts/Kanit-Regular.ttf);
}

body {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.body-dark {
    background-color: #252525;
    color: white;
}

main {
    display: flex;
    justify-content: center;
}

input[type=text] {
    text-indent: 15px;
}

.background-dark-theme-menu {
    width: 100%;
    height: 100%;
    background-color: #252525;
    opacity: 70%;
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

.background-dark-theme-menu.active {
    display: flex;
    opacity: 0.7;
}

.div-menu-add-note,
.div-menu-edit-note {
    position: absolute;
    top: 13%;
    border-radius: 16px;
    display: none;
    background-color: white;
    z-index: 2;
    width: 500px;
    height: 290px;
    display: none;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.div-menu-add-note-dark,
.div-menu-edit-note-dark {
    background-color: #252525;
    color: white;
    border: solid 1px white;
}

.div-menu-add-note>div,
.div-menu-edit-note>div {
    width: 500px;
    height: 253px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.div-h2-and-input {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    height: 90px;
}

.input-add-note,
.input-edit-note {
    width: 440px;
    height: 38px;
    border-radius: 5px;
    border: #6C63FF 1px solid;
    background: none;
}

.input-add-note-dark,
.input-edit-note-dark,
.input-search-note-dark {
    border: solid 1px white;
    color: white;
}

.input-add-note::placeholder,
.input-edit-note::placeholder {
    font-size: 16px;
    color: #C3C1E5;
}

.div-btns-cancel-and-apply {
    width: 440px;
    height: 38px;
    display: flex;
    justify-content: space-between;
}

.btn-cancel {
    width: 110px;
    border: #6C63FF 1px solid;
    background: none;
    color: #6C63FF;
}

.btn-apply,
.btn-apply-edit {
    width: 100px;
    background-color: #6C63FF;
    color: white;
}

.btn-apply,
.btn-cancel,
.btn-apply-edit {
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.main-div {
    width: 750px;
    height: 710px;
}

.div-h2-and-form {
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}

h2 {
    text-align: center;
}

form {
    height: 38px;
    position: relative;
}

.div-search-note-and-change-theme {
    width: 750px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-search-note {
    width: 595px;
    height: 36px;
    border: solid 1px #6C63FF;
    border-radius: 5px;
    background: none;
    transition: 0.5s;
}

.input-search-note::placeholder {
    font-size: 16px;
    color: #C3C1E5;
}

.btn-search-note {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background: none;
    background-image: url(files/search.svg);
    width: 21px;
    height: 21px;
    transition: 0.5s;
}

.btn-search-note-dark {
    background-image: url(files/search-white.svg);
}

.dropdown {
    position: relative;
}

.btn-dropdown {
    width: 94px;
    height: 38px;
    border: 2px solid #6C63FF;
    border-radius: 5px;
    background-color: #6C63FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s;
}

.textDropdown {
    font-size: 18px;
    color: white;
}

.btn-dropdown>img {
    width: 9px;
    height: 4.5px;
}

.btn-dropdown.actived {
    background-color: #534CC2;
}

.btn-dropdown:hover {
    box-shadow: 0 0 6px 0 #6C63FF;
}

.menu {
    position: absolute;
    top: calc(100%);
    right: 0;
    width: 90px;
    height: 90px;
    background: #fff;
    border: 2px solid #6C63FF;
    border-radius: 5px;
    display: none;
    z-index: 100;
}

.dropdown.open .menu {
    display: block;
}

.menu li {
    padding-left: 5px;
    font-size: 16px;
    color: #6C63FF;
    cursor: pointer;
    list-style: none;
    height: 30px;
    display: flex;
    align-items: center;
}

.menu li:hover {
    background: rgba(108, 99, 255, 0.2);
}

.menu li[aria-selected="true"] {
    background: #f3f4ff;
    color: #3633ff;
}

.btn-change-theme {
    width: 38px;
    height: 38px;
    background-color: #6C63FF;
    background-image: url(files/luna.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-change-theme-dark {
    background-image: url(files/sun.svg);
}

.btn-change-theme:hover {
    background-color: #5850DD;
    box-shadow: 0 0 4px 0 #6C63FF;
}

.div-note-numbers-and-actions {
    width: 750px;
    height: 575px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}

.div-note-list {
    width: 520px;
    height: 570px;
    display: block;
    justify-content: center;
}

.div-note-and-hr {
    height: 50px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.div-note-and-actions {
    width: 520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-note-and-actions:hover {
    .div-edit-and-delete {
        opacity: 1;
    }
}

.div-note {
    display: flex;
    align-items: center;
}

input[type=checkbox] {
    appearance: none;
    width: 26px;
    height: 26px;
    border: #6C63FF 1px solid;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type=checkbox]:checked {
    background-color: #6C63FF;
    background-image: url(files/ok.svg);
    background-repeat: no-repeat;
    background-position: center;
}

label {
    font-size: 20px;
    padding-left: 15px;
}

.div-edit-and-delete {
    width: 62px;
    height: 18px;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transition: 0.2s;
}

.btn-edit,
.btn-delete {
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.btn-edit {
    background-image: url(files/edit.svg);
    transition: 0.1s;
}

.btn-edit:hover {
    background-image: url(files/edit-blue.svg);
}

.btn-delete {
    background-image: url(files/delete.svg);
    transition: 0.1s;
}

.btn-delete:hover {
    background-image: url(files/delete-red.svg);
}

hr {
    width: 520px;
    height: 1px;
    background-color: #6C63FF;
    border: none;
    opacity: 50%;
}

.btn-add-note {
    position: absolute;
    top: 85%;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #6C63FF;
    border: solid 2px #6C63FF;
    background-image: url(files/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    cursor: pointer;
}

.btn-add-note:hover {
    background-color: #534CC2;
    box-shadow: 0 0 4px 0 #6C63FF;
}

.div-detective-empty {
    width: 221px;
    height: 214px;
    display: none;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.detective {
    width: 221px;
    height: 174px;
    background-image: url(files/detective-empty.svg);
    background-repeat: no-repeat;
    transition: 0.5s;
}

.detective-dark {
    background-image: url(files/detective-empty-dark.svg);
}

.empty {
    font-family: 'Kanit';
    font-size: 20px;
}

.hr-0 {
    opacity: 0;
}

.div-undo {
    width: 120px;
    height: 40px;
    background-color: #534CC2;
    border: solid 2px #6C63FF;
    border-radius: 4px;
    display: none;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.div-undo:hover {
    background-color: #6C63FF;
    box-shadow: 0 0 4px 0 #6C63FF;
}

.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 2px solid #ffffff;
    animation: l1 2s infinite linear;
    transform: rotate(-45deg) scaleX(-1);
    position: absolute;
}

.loader-div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-undo p {
    color: white;
}

@keyframes l1 {
    100% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    0% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}